<label for="username">Username</label>
{{view ViewbookUsers.UsernameSearchView id="username" valueBinding="controller.username"}}

{{#if controller.contents}}
<ul>
{{#each controller}}
<li>{{status}}</li>
{{/each}}
</ul>
{{else}}
  Please enter user
{{/if}}
